body{
    margin: 0px;
    padding: 0px;
    color: #dda0dd;
    background-color: rgb(34, 25, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    box-sizing: border-box;
    
    
}

/* TITLE */
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 0px 10px rgb(161, 150, 179);
    background-color: rgb(25, 25, 49);
    color: #9932CC;
    height: 80px;
    margin-top: 3px;
    font-weight: bolder;
    font-size: 40px;
    
    
    
}


.produce{
    width: 100%;
    margin: 4px auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
    
}

/* FORM */

/* Input and Label */

.dataForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgb(116, 113, 115);
    border-radius: 18px;
    font-size: 18px;
    font-weight: 10px;
       
}

.dataForm #sheds{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    
}

.dataForm > form{
    width: 80%;
    padding: 30px;
    
}

form > div > input[type="number"]{
    height: 45px;
    border-radius: 3rem;
    padding-top: 2px;
     color: #800080;
     font-size: 25px;
     font-weight: 700px;
}

/* Button */
form > button {
    
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    
    
    
}

form > button[type = "submit"]{
    margin-top: 20px;
}
form > button[type = "submit"], form > button[type = "reset"]{
    background: none;
    background-color:#dda0dd;
    color: #800080;
    border: 3px solid rgb(163, 80, 91);
    border-radius: 12px;
    font-size: 25px;
} 
hr{
    color: #4b0082;
    font-size: 30px;
}


/* OUTPUT DISPLAY */
.outputDisplay{
    overflow: auto;
    width: 50%;
    margin-bottom: 12px;
    margin-right: 5px;
    margin-left:5px ;
    box-shadow:0px 0px 10px rgb(170, 150, 179);
    background-color: #9370DB;
    border-radius: 8px;
    font-size: 20px;
    height: 700px;
    
}

#displayTitle{
    text-align: center;
    color: #4b0082;
    font-size: 30px;
}

#outputData{
    padding: 0px 20px;
}

@media screen and (max-width: 760px) {
    .milkProduce{
        display: flex;
        flex-direction: column;  
    }

    .dataForm {
        width: 100%;
        margin-bottom: 20px; 
    }

    .outputDisplay{
        width: 100%;
       
    }
    
}
