body{
    margin: 0px;
    padding: 0px;
    color: #dda0dd;
    background-color: rgb(34, 25, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    box-sizing: border-box;
    
    
}


#title{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 0px 10px rgb(161, 150, 179);
    background-color: rgb(25, 25, 49);
    color: #9932CC;
    height: 80px;
    margin-top: 3px;
    font-weight: bolder;
    font-size: 40px;
 
    
}


.produce{
    width: 100%;
    margin: 4px auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
}


.data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgb(116, 113, 115);
    border-radius: 18px;
    font-size: 18px;
    font-weight: 10px;
       
}

.data #sheds{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    
}

.data> form{
    width: 80%;
    padding: 30px;
    
}

form > div > input[type="number"]{
    height: 45px;
    border-radius: 3rem;
    padding-top: 2px;
     color: #800080;
     font-size: 25px;
     font-weight: 700px;
}

/* Button */
form > button {
    
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    
    
    
}

form > button[type = "submit"]{
    margin-top: 20px;
}
form > button[type = "submit"], form > button[type = "reset"]{
    background: none;
    width: 150px;
    background-color:#dda0dd;
    color: #800080;
    border: 3px solid rgb(163, 80, 91);
    border-radius: 350px;
    font-size: 25px;
    
} 
form>button:hover{
    color: white;
    background-color: #4b0082;
    pointer-events: painted;
    cursor: grab;
    moz-transition: all .4s ease -in-out;
    opacity: 0.25;
}
hr{
    color: #4b0082;
    font-size: 20px;

}



.output{
    overflow: auto;
    width: 50%;
    height: 700px;
    margin-bottom: 12px;
    margin-right: 5px;
    margin-left:5px ;
    box-shadow:0px 0px 10px rgb(170, 150, 179);
    background-color: #9370DB;
    border-radius: 8px;
    font-size: 20px;
      
}

#display{
    text-align: center;
    color: #4b0082;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#outputData{
    padding: 5px 20px;
    font-size: 25px;
    font-weight: 700px;
    color: #4b0082;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3px;
}


@media screen and (max-width: 520px) {
    .produce{
        display: flex;
        flex-direction: column;  
        transform-translate:(-50%,-50%) ;
    }

    .data {
        width: 100%;
        margin-bottom: 18px; 
    }

    .outputDisplay{
        width: 100%;
       
    }
    
}
